.blogShort{ border-bottom:2px solid #ddd;}

.blogParagraph{ padding-top: 10px; padding-bottom: 10px }

.blogHeader{ padding-top: 10px; }

.tight{ margin: 0px 0px 0px; padding: 0px 0px }

.fullBorder{ border:2px solid #ddd}

h6.a{padding-top: 16px}